.main-image {
  width: 100%;
}

h1 {
  margin-top: 0;
}

.idea-detail-description {
  font-size: 1.3em;
}

.pull-right {
  margin-top: 0;
}

.title-spacer {
  margin-top: 0;
  margin-bottom: 1em;
}

.social-media-buttons img {
  margin-top: 10px;
  height: 2em;
  width: 2em;
}
